<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ report_title }}</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Tamaño</th>
          <th>Convocatorias</th>
          <th>%</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Gran Empresa</td>
          <td>1300</td>
          <td>12.15</td>
        </tr>
        <tr>
          <td>Mediana Empresa</td>
          <td>3200</td>
          <td>29.91</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-default pull-right" type="submit">Descargar</button>
  </div>
</div>